{
  "hooks": {
    "pre-commit": "lint-staged"
  },
  "lint-staged": {
    "*.{js,vue}": [
      "eslint --fix --ext .js,.vue --ignore-path .gitignore .",
      "git add"
    ],
    "*.vue": [
      "stylelint --fix",
      "pug-lint-vue",
      "git add"
    ]
  }
}
