// =====================
// Color
// =====================
$brand:  #ffda00 !default;
$black:  #333 !default;
$gray-dark:  #555 !default;
$gray:  #ddd !default;
$gray-light:  #eee !default;
$gray-lighter:  #f6f6f6 !default;
$white:  #fff !default;
$red:  #900 !default;
$red-light:  #f6eaea !default;
$blue:  #036 !default;

// =====================
// Breakpoints
// =====================
$breakpoints: (
  'xs': 320px,
  'sm': 600px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

// =====================
// Font
// =====================
$fontFamilyBase: "Noto Sans", "Noto Sans CJK JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

$lineHeight-md: 1.8 !default;
$lineHeight-sm: 1.4 !default;

$fontWeight-lg: 700 !default;
$fontWeight-md: 500 !default;
